/* *{
  border: solid red 2px;
} */
body, html{
    margin: 0px;
    padding: 0px;
  
}
body{
   background-image:url(./assets/Pizza-Home.jpg); 
   background-size:cover  ;
   background-position:top;
   justify-content: center;
   align-items: center;
}
/* comand uno dentro l altro */

header nav ul{
  display:flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
} 
header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* metto le righe aggiustste a seconda dello spazzio dopo dysplay flex */
  align-items:center;
  padding:initial ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

}

header nav ul li{
  /* margin: 0 15px; */
  margin-left: 20px;
}



.roboto-flex-100 {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.condiment-regular {
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
}

header h1{
    /* width: 100%;
    min-width:fit-content;
    height: 100px;
    font-size:larger;
    white-space: normal;
    text-align: center;
    overflow:auto; */
    /* margin: 0px; */
    /* padding: 100px 20px 20px 30px;
     /* background-image:url(./assets/Pizza-Home.jpg);  */
    /* background-size: cover;
    text-overflow: ellipsis; */
    /* background-position: center center; */
    /* overflow-wrap: anywhere; */
    /* position: fixed; 
    top: 10px;
    left: 10px; */
    margin: 0;
    font-size:30px;
    font-weight: bold;
}

.centrato{
    text-align: center;
}
.P-centrale{
  background-color: black;
}
header nav a {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  color: black;
  font-size: 20px;
  font-weight: bold;
  
}
header nav{
  /* position: absolute; 
  /* top: 10px; */
  right: 10px; 
  /* gap: 15px; */
  display: flex;
   gap: 20px;  
}
.contatti-foot{
  position: fixed;
  bottom: 10px;
  left: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}
.video-cent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;

}
.maps-cent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
